.vscode
bin
build
dist
files.spec
include
lib
lib64
__pycache__
pyvenv.cfg
bin
importlib.util
include
lib
lib64
main.spec
os
__pycache__
pyvenv.cfg
shutil
sys
music_to_pen/updater_test.py
music_to_pen/install_test.py
.vscode