#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Music to pendrive
Exec=/usr/bin/music_to_pen/main.py
Icon=/usr/share/applications/pendrive.ico
Terminal=false
Type=Application
